.leftfix {
    float: left;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/* 重置样式 */
a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

body {
    width: 600px;
    height: 400px;
    overflow: hidden;
}

/* 导航栏 */
.nav {
    height: 40px;
    line-height: 40px;
    background-color: #5FB878;
    display: flex;
    /* 启用Flex布局 */
    width: 100%;
    /* 容器宽度 */
}

.part {
    flex: 1;
    /* 关键：每个子元素平均分配宽度 */
    border: 2px solid white;
    /* 可选：边框便于观察 */
    text-align: center;
}

.pinSettings {
    margin-top: 15px;
}

.label {
    padding-left: 10px;
    position: relative;
    top: 4px;
}

.switch {
    margin-left: 30px;
}