.leftfix {
    float: left;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

body {
    width: 400px;
    height: 800px;
    overflow: hidden;
}

.title {
    /* width: 568px; */
    font-size: 20px;
    text-align: center;
    background-color: #5FB878;
    height: 40px;
    line-height: 40px;
    color: white;
}

.layui-table td {
    /* line-height: 5px; */
    padding: 5px 14px;
}

.layui-input {
    width: 70px;
    margin: 10px;
}

.layui-btn {
    margin-left: 120px;
}